<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" type="image/png" href="/img/favicon.png" />
<link href="theme/css/main.css" rel="stylesheet">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="Simple solutions for complex problems" />
<meta name="author" content="Bespoke Research">
<meta name="keywords" content="business, consulting, task, job, easy">
<meta name="google-site-verification" content="MfvKP111OuDhDMqi87w8c8A28pAGwJQa5D4YZnDP9UU" />
<meta name="HandheldFriendly" content="True" />
<meta name="referrer" content="origin" />


<meta property="og:site_name" content="Bespoke Research Ad Infinitum"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="Bespoke Research Ad Infinitum"/>
<meta property="og:description" content="Simple solutions for complex problems"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="https://www.br8.ca/"/>
<meta property="og:image" content="https://www.br8.ca/img/home-bg.png">


<title>Bespoke Research Ad Infinitum</title>

<link rel="canonical" href="https://www.br8.ca/"  />
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="page-top">

  <div id="app">
    <send-job></send-job>
  </div>


  <script id="send-job-template" type="text/x-template">
    <section>
      <div class="collapse show" >
        <div class="card card-body border-0 p-0" style="background-color:inherit;">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Send Job</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <form id="contactForm" name="sentMessage" class="needs-validation" novalidate="novalidate">
                  <div :class="[submitFormDataElementsClassDisplay]">
                    <div class="row">
                      <div class="offset-lg-3 col-lg-6 text-center">
                        <div class="form-group">
                          <input v-model="formDataEmail" class="form-control email" id="email" type="email" placeholder="Your Email *" required="required">
                          <p class="help-block text-danger"></p>
                          <div class="invalid-tooltip">
                            Please enter valid email
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-lg-3 col-lg-6 text-center">
                        <div class="form-group">
                          <input v-model="formDataPrice" class="form-control price" id="price" type="email" placeholder="Your Price *" required="required">
                          <p class="help-block text-danger"></p>
                          <div class="invalid-tooltip">
                            Please enter price
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-lg-3 col-lg-6 text-center">
                        <div class="form-group">
                          <textarea v-model="formDataMessage" class="form-control" id="message" placeholder="Your Message *" required="required"></textarea>
                          <p class="help-block text-danger"></p>
                          <div class="invalid-tooltip">
                            Please enter your task description
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="offset-lg-3 col-lg-6 text-center mb-3">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="uploadFile" @change="uploadSetFileName"
                              ref="jobFile">
                            <label class="custom-file-label" for="uploadFile"  >{{ filename }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="offset-lg-3 col-lg-6 text-center">
                      <div id="success"></div>
                      <div class="g-recaptcha"
                            data-sitekey="6LcE86cUAAAAAOskz_jX_RkHR1UMzuDHtq8j65Dy"
                            data-callback="sendMessage"
                            data-size="invisible"
                            >
                      </div>

                      <div class="progress" :class="[uploadProgressBarClassDisplay]">
                        <div ref="uploadProgress" class="progress-bar progress-bar-striped " role="progressbar"  :style="uploadProgressBarStyle" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <div class="alert" role="alert" :class="[uploadProgressAlertClass]" >
                        {{ uploadProgressAlertText }}
                      </div>

                      <div class="alert" role="alert" :class="[taskSubmitProgressAlertClass]" >
                       <i class="fa fa-spinner fa-pulse fa-1x fa-fw" :class="[taskSubmitProgressSpinnerClass]"></i>  {{ taskSubmitProgressAlertText }}
                      </div>

                      <button ref="submitButton" :class="[submitButtonClassDisplay]" id="submit-button" type="submit" class="btn btn-primary btn-xl text-uppercase"  @click.prevent="sendJob()">
                        Submit Job
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </script>

</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.7/vue-router.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js'></script>
<script src="theme/js/components/send-job.js"></script>
<script src="theme/js/app.js"></script>
<!--<script src="theme/js/main.js"></script>-->



<!--  <script type="text/javascript">-->
<!--      var _gaq = _gaq || [];-->
<!--      _gaq.push(['_setAccount', 'UA-141684358-1']);-->
<!--      _gaq.push(['_trackPageview']);-->
<!--      (function() {-->
<!--          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;-->
<!--          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';-->
<!--          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);-->
<!--      })();-->
<!--    </script>-->


</html>