<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141684358-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-141684358-1', { 'optimize_id': 'GTM-WNXG5HP'});
    </script>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '567939510607366');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=567939510607366&ev=PageView&noscript=1"
    /></noscript>
    <script src="theme/js/events.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Simple solutions for complex problems" />
    <meta name="author" content="Bespoke Research">
    <meta name="keywords" content="business, consulting, task, job, easy">
    <meta name="HandheldFriendly" content="True" />
    <meta name="referrer" content="origin" />
    <meta name="google-site-verification" content="bcwhGVlAJrPDn4xDJU2sE-v3FjIa3DP9mhKcfr2L8l8" />

    <meta property="og:site_name" content="Bespoke Research Ad Infinitum"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bespoke Research Ad Infinitum"/>
    <meta property="og:description" content="Simple solutions for complex problems"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="https://www.br8.ca/"/>
    <meta property="og:image" content="https://www.br8.ca/img/home-bg.png">
    <title>Bespoke Research Ad Infinitum</title>

    <link rel="icon" type="image/png" href="/theme/img/favicon.png" />
    <link rel="canonical" href="https://www.br8.ca/"  />
    <link href="theme/css/bootstrap-br8.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="theme/css/main.css" rel="stylesheet">


    <!-- End Facebook Pixel Code -->

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
<!--        <a class="navbar-brand js-scroll-trigger" href="#page-top">BR8</a>-->
        <div class="navbar-brand js-scroll-trigger">
          <a href="https://www.br8.ca"><img  src="theme/img/logos/log-ag.png" width="40px" height="40px"/></a>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">Bespoke Research</div>
          <div class="intro-lead-in">Focus on your business, let us handle the details.</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger header-action-button" href="#services" onclick="_et('tell_me_more');"><i class="fas fa-infinity"></i> &nbsp;Tell Me More</a>
        </div>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Simple as 1-2-3</h2>
            <h3 class="section-subheading text-muted">&nbsp;</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="theme/img/about/1.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>1. Send us your job</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">No registration necessary. Describe your task, attach your documents and we will take over from there!</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="theme/img/about/2.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2. Receive estimate</h4>
<!--                    <h4 class="subheading"></h4>-->
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">We will send no obligation estimate over the email. As soon as you accept, we will start working on your task and send you updates on the progress.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="theme/img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>3. Collect results</h4>
<!--                    <h4 class="subheading">Transition to Full Service</h4>-->
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Once the work is completed you will receive a sample of the final result that you can review and purchase the complete package.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                   <h4><a href="#send" class="timeline-action" onclick="_et('send_task_123');">Send
                    <br>Your
                     <br>Task!</a></h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


    <a name="services"></a>
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">What we do</h2>
            <h3 class="section-subheading text-muted" style="margin-bottom: 25px;">Here are some of the services that we provide.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#send" onclick="_et('send_task_mining_img');">
              <img class="img-fluid" src="theme/img/portfolio/01-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><a href="#send" class="service-action" onclick="_et('send_task_mining_header');">Data mining</a></h4>
              <p class="text-muted">Research and collect data online, format it as a spreadsheet, document or summary presentation.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#send" onclick="_et('send_task_conv_img');">
              <img class="img-fluid" src="theme/img/portfolio/02-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><a href="#send" class="service-action" onclick="_et('send_task_conv_header');">Document conversion</a></h4>
              <p class="text-muted">Accomplish complex document conversion tasks from and to formats like Word, Excel, PDF, CSV, plain text.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#send" onclick="_et('send_task_custom_img');">
              <img class="img-fluid" src="theme/img/portfolio/04-thumbnail.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4><a href="#send" class="service-action" onclick="_et('send_task_custom_header');">Custom</a></h4>
              <p class="text-muted">Looking for different software solution? Send us your task and we will be glad to provide you an estimate!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <a name="send"></a>
    <section id="contact">
      <div class="container" id="app">
        <send-job></send-job>
      </div>
    </section>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">&copy; Bespoke Research Ad Infinitum </span>
          </div>

<!--          <div class="col-md-4">-->
<!--            <ul class="list-inline social-buttons">-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <i class="fab fa-twitter"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <i class="fab fa-facebook"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li class="list-inline-item">-->
<!--                <a href="#">-->
<!--                  <i class="fab fa-linkedin"></i>-->
<!--                </a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                    <a href="/privacy.html" target="_blank" onclick="_et('privacy');">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                    <a href="/terms.html" target="_blank" onclick="_et('terms');">Terms of Service</a>
                </li>
            </ul>
          </div>
        </div>
          <div class="row">
              <div class="col-12">
                <table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/9_bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal"></a></td></tr></table>
              </div>
          </div>
      </div>
    </footer>

  </body>


  <script id="send-job-template" type="text/x-template">
    <div>
        <div id="messageSentCollapse" :class="[messageSentDivClass]">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase">Thank you, your job has been submitted.</h2>
                  <h3 class="section-subheading text-muted">You will be receiving confirmation email shortly.</h3>
                </div>
              </div>
            </div>
        </div>


        <div id="formCollapse" :class="[formDivClass]" >
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Send Your Task</h2>
                <h3 class="section-subheading text-muted">No registration or payment necessary. You pay only if you like the results. Try now!</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <a name="send-valid"></a>
                <a name="send-valid-form"></a>
                <div class="alert alert-danger" role="alert" :class="[errorClassDisplay]">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input v-model="formDataEmail" :disabled="formDisabled" class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your name.">
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                          </div>
                          <input v-model="formDataPrice" :disabled="formDisabled" class="form-control" id="price" type="number" placeholder="Your price *" required="required" data-validation-required-message="Please enter your price.">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" :disabled="formDisabled" class="custom-file-input" id="uploadFile" @change="uploadSetFileName"
                              ref="jobFile">
                            <label class="custom-file-label" for="uploadFile"  ><div  class="upload-text" >{{ filename }}</div></label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input v-model="formDataAgreeBox" :disabled="formDisabled" class="form-check-input big-checkbox" type="checkbox" value="" id="tosCheck">
                          <label class="form-check-label" for="tosCheck">
                            I agree to <a href="/terms.html" target="_blank" onclick="_et('terms');">Terms of Service</a> and <a href="/privacy.html" target="_blank" onclick="_et('privacy');">Privacy Policy</a>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <textarea v-model="formDataMessage" :disabled="formDisabled" class="form-control" id="description" placeholder="Your job description *" required="required" data-validation-required-message="Please your job description."></textarea>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div class="offset-lg-3 col-lg-6 text-center" :style="uploadProgressDivStyle">
                          <div id="success"></div>
                          <div class="g-recaptcha"
                                data-sitekey="6LcE86cUAAAAAOskz_jX_RkHR1UMzuDHtq8j65Dy"
                                data-callback="sendMessage"
                                data-size="invisible"
                                >
                          </div>
                          <div class="progress" :class="[uploadProgressBarClassDisplay]">
                            <div ref="uploadProgress" class="progress-bar progress-bar-striped " role="progressbar"  :style="uploadProgressBarStyle" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="alert" role="alert" :class="[uploadProgressAlertClass]" >
                            {{ uploadProgressAlertText }}
                          </div>

                        </div>
                        <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase send-button" :disabled="formDisabled" type="submit" @click.prevent="checkForm()"><i :class="[submitButtonIconClass]"></i> &nbsp;Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
  </script>


  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.7/vue-router.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js'></script>

  <script src="theme/js/util.js"></script>
  <script src="theme/js/components/send-job.js"></script>
  <script src="theme/js/app.js"></script>


</html>